<div class="container">
<h1>Recipes</h1>
<div class="accordion" id="accordionExample">
  <% @recipes.each do |recipe| %>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%= recipe.id %>" aria-expanded="false" aria-controls="collapse<%= recipe.id %>">
          <%= recipe.name %>
        </button>
      </h2>
      <div id="collapse<%= recipe.id %>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Name: </strong><%= recipe.name %><br></br> 
          <p> <strong>Description: </strong><%= recipe.description %></p>
          <p> <strong>Cooking Time: </strong><%= recipe.cooking_time %></p>
          <p> <strong>Preparation Time: </strong><%= recipe.preparation_time %></p>
          <p><%= link_to "Show this recipe", recipe %></p>
          <%= button_to "Remove", recipe, method: :delete, class: 'no-styling btn-text bold' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "New recipe", new_recipe_path %>

</div>