<p style="color: green"><%= notice %></p>

<div>

    <h2 class=" text-center">Recipe <%= @recipe.id%></h2>
    <div class="row">
    <div class="col-md-6">
      <p>Preparation Time: <%= @recipe.preparation_time %></p>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end">
        <p>public: </p>
        <% if @recipe.public %>
          <%= image_tag('icon-true.svg', size: '30x30') %>
        <% else %>
          <%= image_tag('toggle-off-solid.svg', size: '30x30') %>
        <% end %>
      </div>
    </div>
  </div>
    <p>Cooking Time: <%= @recipe.cooking_time%></p>
    <div class="ingredients">
    <%= link_to "Add Ingredients", edit_recipe_path(@recipe)%>
      <a href= <%= "/general_shopping_list" %>>
        <button class="btn-bg-red-big ">Generate Shopping List</button>
      </a>
    </div>
</div>
<div>
<table class="table">
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
    <% @recipe.recipe_foods.each do |recipe_food| %>
      <tr>
          <td><%= recipe_food.food.name %></td>
          <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %></td>
          <td>$ <%= recipe_food.value %></td>
          <td>
          <% if can? :destroy , @recipe %>
          <div class="row btns">
            <%= link_to "Modify", edit_recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id), class: "btn-text btn-modify" %>
            <%= button_to "Remove", recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id), class: "no-styling btn-text color-red", method: :delete %>
          </div>
          <% end %>
          </td>
      </tr>
    <% end %>
     <%= render partial: "home/empty_list", locals: {list: @recipe.recipe_foods} %>
</table>
<div>
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>