<p style="color: green"><%= notice %></p>

<div>

    <h2 class=" text-center">Recipe <%= @recipe.id%></h2>
    <div class="row">
    <div class="col-md-6">
      <p>Preparation Time: <%= @recipe.preparation_time %></p>
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-end">
        <p>public: </p>
        <% if @recipe.public %>
          <%= image_tag('icon-true.svg', size: '30x30') %>
        <% else %>
          <%= image_tag('toggle-off-solid.svg', size: '30x30') %>
        <% end %>
      </div>
    </div>
  </div>
    <p>Cooking Time: <%= @recipe.cooking_time%></p>
    <%= link_to "Add Ingredients", edit_recipe_path(@recipe)%>
</div>
<div>
<h2>My Basket</h2>
  <table class="table table-striped" >
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name:</th>
       <th scope="col">Measurement_unit:</th>
      <th scope="col">Price: </th>
      <th scope="col">Quantity:</th>
      <th scope="col">Actions:</th>
    </tr>
  </thead>
  <tbody>
   <% @foods.each do |food| %>
    <tr>
      <th scope="row"><%= food.id %></th>
      <td><%=food.name%></td>
      <td><%=food.measurement_unit%></td>
      <td><%=food.price%></td>
      <td><%=food.quantity%></td>
   <td>  <%= button_to "Delete",food, method: :delete %></td>
    </tr>
      <% end %>
  </tbody>
  </table>
</div>

<div>
  <%= link_to "Back to recipes", recipes_path %>

  <%= button_to "Destroy this recipe", @recipe, method: :delete %>
</div>